<md-toolbar color="primary">Fibonacci Series: Number at position <md-input-container>
<input mdInput [value]="fibPosition" (change)="setFibPosition($event)" />
</md-input-container></md-toolbar>
<md-card>
  <md-card-title>With ForLoop</md-card-title>
  <md-card-subtitle>{{performance.fibNumWithFor}} ms</md-card-subtitle>
  <md-card-content>{{values.fibNumWithFor }}</md-card-content>
</md-card>
<md-card>
  <md-card-title>With Recursion</md-card-title>
  <md-card-subtitle>{{performance.fibNumWithRecursion}} ms</md-card-subtitle>
  <md-card-content>{{ values.fibNumWithRecursion }}</md-card-content>
</md-card>